//
// Graze web fonts
// ---

// Path to fonts.  This can be overwritten if necessary
@font-path: '../fonts/';

@font-face {
    font-family: 'graze-font-cursive';
    src: url('@{font-path}graze-font-cursive.eot');
    src: url('@{font-path}graze-font-cursive.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}graze-font-cursive.svg#graze-font-cursive') format('svg'),
         url('@{font-path}graze-font-cursive.woff') format('woff'),
         url('@{font-path}graze-font-cursive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graze-font';
    src: url('@{font-path}graze-font.eot');
    src: url('@{font-path}graze-font.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}graze-font.svg#graze-font') format('svg'),
         url('@{font-path}graze-font.woff') format('woff'),
         url('@{font-path}graze-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pistachio-icon-font';
    src: url('@{font-path}pistachio-icon-font.eot?90234993');
    src: url('@{font-path}pistachio-icon-font.eot?90234993#iefix') format('embedded-opentype'),
       url('@{font-path}pistachio-icon-font.woff?90234993') format('woff'),
       url('@{font-path}pistachio-icon-font.ttf?90234993') format('truetype'),
       url('@{font-path}pistachio-icon-font.svg?90234993#pistachio') format('svg');
    font-weight: normal;
    font-style: normal;
}

.graze-font-cursive() {
    font-family: "graze-font-cursive", @font-family-serif;
    font-weight: @font-weight-strong;
    letter-spacing: -0.02em;
}

.graze-font() {
    font-family: "graze-font", @font-family-sans-serif;
    font-weight: @font-weight-strong;
    letter-spacing: -0.04em;
}

.graze-font-icons() {
    font-family: "pistachio-icon-font";
}
