//
// Scaffolding
// ---

// Reset the box-sizing
* {
    .box-sizing(border-box);
}

*:before,
*:after {
    .box-sizing(border-box);
}

// html defaults
html {
    font-size: @font-size-base;
    font-family: @font-family-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// body defaults
body {
    overflow-x: hidden;
    margin: 0;
    .font-size(1);
    font-family: @font-family-base;
    line-height: @line-height-base;
    color: @text-colour;
    background-color: @body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
a {
    color: @link-colour;
    text-decoration: @link-decoration;
    font-weight: @font-weight-strong;

    &:hover,
    &:focus {
        color: @link-hover-colour;
        text-decoration: @link-decoration;
    }

    &:focus {
        .tab-focus();
    }
}

// Lists
ol {
    padding: 0 0 0 1.5em;
    .margins(1, 0, 1, 0);
}

ul {
    list-style-type: none;
    padding: 0 0 0 1.5em;
    .margins(1, 0, 1, 0);

    li {
        &:before {
            content: "\25cf"; //html entity "black circle"
            color: @colour-brand;
            padding-right: 0.9em;
            margin-left: -1.5em;
        }
    }
}

.grid > li:before {
    content: none; // fix for reflex grid when using lists as a grid
}

// Images
img {
    vertical-align: middle;
}

// Horizontal rules
hr {
    height: 0;
    .margins(1, 0, 1, 0);
    border: 0;
    border-top: 1px solid @hr-border;
}
