//
// Scaffolding
// ---

// Reset the box-sizing
* {
    .box-sizing(border-box);
}
*:before,
*:after {
    .box-sizing(border-box);
}

// html defaults
html {
    font-size: 100%;
    font-family: @font-family-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// body defaults
body {
    margin: 0;
    font-family: @font-family-base;
    font-size: @font-size-base-px;
    font-size: @font-size-base-rem;
    line-height: @line-height-base;
    color: @text-color;
    background-color: @body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
a {
    color: @link-color;
    text-decoration: none;
    font-weight: @font-weight-strong;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }

    &:focus,
    &.active {
        .tab-focus();
    }
}

// Images
img {
    vertical-align: middle;
}

// Horizontal rules
hr {
    height: 0;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid @hr-border;
}
