//
// Typography
// ---

small {
    font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: @font-weight-strong;
    .margins(2, 0, 0.5, 0);
}

h1 {
    .font-size(2);
    .graze-font();
    color: @colour-brand;
}

h2 {
    .font-size(1.6);
    .graze-font();
}

h3 {
    .font-size(1.4);
}

h4 {
    .font-size(1.2);
}

h5 {
    .font-size(1.1);
}

h6 {
    .font-size(1);
}

p {
    .margins(1, 0, 1, 0);
}

b,
strong {
    font-weight: @font-weight-strong;
}

blockquote {
    .inner-content-fix();
    .lead();
    .margins(0, 0, 3, 0);
    font-style: italic;

    footer {
        .font-size(1);
        font-weight: @font-weight-base;
        color: @colour-grey-light;
    }
}

.lead {
    .lead();
}

.meta {
    .meta();
}

.voice {
    .graze-font-cursive();
}
