//
// Utility classes
// ---

//
// Floats
// ---
.clearfix {
    .clearfix();
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

//
// Typography
// ---
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

//
// Lists
// ---
.list-unstyled {
    display: inline-block;
    list-style: none;
    padding-left: 0;

    > li {
        &:before {
            display: none;
        }
    }
}

// Inline turns list items into inline-block
.list-inline {
    .list-unstyled();

    > li {
        display: inline-block;
        padding: 0 (@dimension-padding-base / 2);
        margin: 0.5em 0;

        a {
            display: inline-block;
            padding: 0 @dimension-padding-base;
        }
    }
}

//
// Toggling content
// ---
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

// Used to replace an element's text content with a background image
.text-hide {
    .text-hide();
}

//
// Images
// ---
.center-block {
    .center-block();
}

.img-responsive {
    .img-responsive();
}

.img-rounded {
    border-radius: @dimension-border-radius-lg;
}

.img-circle {
    border-radius: 50%;
}

//
// Screen readers
// ---
// Only display content to screen readers
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
.sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

//
// Javascript Utils
// ---
.experience-core .if-js {
    display: none !important;
}
