// Colours
//---

// Monochrome
@colour-white:         #ffffff;
@colour-black:         #000000;
@colour-grey-darkest:  #222222;
@colour-grey-dark:     #333333;
@colour-grey:          #7A7A7A;
@colour-grey-light:    #999999;
@colour-grey-lighter:  #cccccc;
@colour-grey-lightest: #eeeeee;


// Accents
@colour-accent:        #80a000;


// Dimensions
// ---

// Border Radius
@dimension-border-radius: 4px;
@dimension-border-radius-lg: 8px;


// Breakpoints
//---

// Extra small screen / phone
@screen-xs-min:         480px;

// Small screen / tablet
@screen-sm-min:         768px;

// Medium screen / desktop
@screen-md-min:         992px;

// Large screen / wide desktop
@screen-lg-min:         1200px;

// Larger screen / wider desktop
@screen-xlg-min:        1600px;

// So media queries don't overlap when required, provide a maximum
@screen-xxs-max:        (@screen-xs-min - 1);
@screen-xs-max:         (@screen-sm-min - 1);
@screen-sm-max:         (@screen-md-min - 1);
@screen-md-max:         (@screen-lg-min - 1);
@screen-lg-max:         (@screen-xlg-min - 1);


// Grid
//---
@grid-columns:              12;
@grid-gutter-width:         30px;


// Container sizes
//---
// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
@container-lg:                 @container-large-desktop;


// Scaffolding
//---
@body-bg:               #fff;
@text-color:            @colour-grey-dark;
@link-color:            green;
@link-hover-color:      darken(@link-color, 15%);
@link-hover-decoration: underline;
@hr-border:             @colour-grey-lighter;


// Typography
//---

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base-px:       16px;
@font-size-base-rem:      1rem;

@font-weight-weak:        300;
@font-weight-base:        400;
@font-weight-strong:      500;

@line-height-base:        1.5;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base-px * @line-height-base));

