// Colours
//---

// Monochrome
@colour-white:         #ffffff;
@colour-black:         #000000;
@colour-grey-darkest:  #222222;
@colour-grey-dark:     #333333;
@colour-grey:          #7A7A7A;
@colour-grey-light:    #999999;
@colour-grey-lighter:  #cccccc;
@colour-grey-lightest: #eeeeee;

// Accents
@colour-accent:        #80a000;

// Dimensions
// ---

// Border Radius
@dimension-border-radius: 4px;
@dimension-border-radius-lg: 8px;
