<section class="page-section cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h1 class="cd-title">graze pistachio</h1>

                <p>This is our style guide and pattern library - we call it 'pistachio'. A living, breathing document that helps everyone who works with graze.com build a consistent experience for its users.</p>

                <p>If you would like to provide any feedback on this, please email <a href="mailto:pistachio@graze.com">pistachio@graze.com</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--alternate cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">what do we do?</h2>

                <p>We create exciting snack combinations that make you feel good. We combine wholesome ingredients, taste expertise and inventive ideas to make good exciting. You get something positive from every graze snack, so you can feel good.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3 class="cd-title">personality</h3>

                <ul>
                    <li>Original - not afraid to create our own path.</li>
                    <li>Creative - tuned in and full of ideas.</li>
                    <li>Helpful - a knowledgeable friend that never judges.</li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3 class="cd-title">tone of voice</h3>

                <ul>
                    <li>Confident</li>
                    <li>Positive</li>
                    <li>Witty</li>
                    <li>Conversational</li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3 class="cd-title">key brand values</h3>

                <ul>
                    <li>Good and exciting</li>
                    <li>Contemporary and natural</li>
                </ul>
            </div>
        </div>
    </div>
</section>
