<section class="page-section cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h1 class="cd-title">Pistachio - the front end framework and styleguide for graze.com</h1>

                <p>Welcome to our style guide and pattern library - we call it 'pistachio'. It is intended to help everyone who works with graze.com build a consistent experience for our users.</p>

                <p>If you would like to provide any feedback on this, please email <a href="mailto:pistachio@graze.com">pistachio@graze.com</a>.</p>

                <div class="cd-page-nav">
                    <p class="cd-text cd-title">jump to:</p>
                    <ol class="cd-text cd-text--uppercase"></ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--alternate cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">branding</h2>
                <h3 class="cd-title">what do we do at graze?</h3>

                <p>We create exciting snack combinations that make you feel good. We combine wholesome ingredients, taste expertise and inventive ideas to make good exciting. You get something positive from every graze snack, so you can feel good.</p>

                <h3 class="cd-title">personality</h3>

                <ul>
                    <li>Original - not afraid to create our own path.</li>
                    <li>Creative - tuned in and full of ideas.</li>
                    <li>Helpful - a knowledgeable friend that never judges.</li>
                </ul>

                <h3 class="cd-title">tone of voice</h2>

                <ul>
                    <li>Confident</li>
                    <li>Positive</li>
                    <li>Witty</li>
                    <li>Conversational</li>
                </ul>

                <p>This is only a short overview and for further info or advice feel free to contact <a href="mailto:creative@graze.com">creative@graze.com</a></p>
            </div>
        </div>
    </div>
</section>

<section class="page-section cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">web design/ux principles</h2>

                <ul>
                    <li><strong>Clarity</strong>. Use clear messaging to guide the user. All buttons, links, and calls to action should have descriptive text which communicate our personality and tone of voice.</li>
                    <li><strong>Content first</strong>. Our content should always be presented in the most appropriate semantic order to ensure the most important stuff is front and center and everything is organised in a suitable hierarchy. This in turn allows us to write lean, semantic HTML5 markup which is manageable and accessible. It also gives us a good baseline for the mobile experience.</li>
                    <li><strong>Use white space</strong> to break up sections of the page instead of hard lines. Alternatively, use differently coloured <a href="patterns/page-sections">page sections</a>.</li>
                    <li><strong>Use product photography freely</strong>. We're proud of our products and like to show them off with high quality photography.</li>
                    <li><strong>No gimmicks</strong>. We stick with what works best and prefer to use conventional patterns rather then re-invent the wheel. We want websites everybody can use without a learning curve.</li>
                    <li><strong>Vertical scrolling is ok</strong>. We don't obsess over keeping everything "above the fold". We focus on getting our content in a sensible order of hierachy and are relaxed about people having to scroll.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="page-section cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">CSS guidelines</h2>

                <h3 class="cd-text cd-title">LESS css</h3>
                <p class="cd-text">We use <a href="http://lesscss.org/">LESS</a> to build our CSS</p>

                <h3 class="cd-text cd-title">Efficiency and performance</h3>
                <p class="cd-text">We use LESS variables and mixins as much as possible to avoid duplicating hand written CSS. We always strive to build the most robust and efficient CSS and JS components that perform well across all our supported browsers without adding too much page weight.</p>

                <h3 class="cd-text cd-title">Block, Element, Modifier</h3>
                <p class="cd-text">Our CSS follows a <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">Block, Element, Modifier (BEM)</a> syntax to create clarity and naming consistency across our patterns. BEM is arguably verbose, but it helps prevent common CSS rabit holes such as:</p>
                <ul class="cd-text">
                    <li>CSS specificty</li>
                    <li>Classname ambiguity</li>
                    <li>global CSS changes</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="page-section page-section--alternate cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">progressive enhancement</h2>
                <blockquote>
                    <p>When an elevator fails, it's useless. When an escalator fails, it becomes stairs. We should be building escalators, not elevators.</p>
                    <footer>
                        <a href="https://jakearchibald.com/2013/progressive-enhancement-still-important/">- Jake Archibald</a>
                    </footer>
                </blockquote>

                <p>At graze we believe in the principles of progressive enhancement for reasons of performance, reliability, and accessiblity. It's a widely discussed subject but here are the key points:</p>

                <ul>
                    <li>basic content should be accessible to all web browsers</li>
                    <li>basic functionality should be accessible to all web browsers</li>
                    <li>sparse, semantic markup</li>
                    <li>layout is provided by externally linked CSS</li>
                    <li>enhanced behavior is provided by <a href="https://en.wikipedia.org/wiki/Unobtrusive_JavaScript">unobtrusive</a>, externally linked JavaScript</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="page-section cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">feature detection</h2>

                <blockquote>
                    <p>
                        Browsers are the most hostile software development environment imaginable.
                    </p>
                    <footer>
                        - Douglas Crockford
                    </footer>
                </blockquote>

                <h3 class="cd-title">Cutting the Mustard</h3>
                <p>In order to create enhanced experiences for users with modern browsers, we need to be able to tell whether we have the support for some baseline features. Our approach is taken from FT Labs Origami <a href="http://origami.ft.com/docs/developer-guide/using-modules/#core-vs-enhanced-experience">core/enhanced check</a> and implements a small piece of inline JS which switches a class in the <code>&lt;html&gt;</code> tag.</p>

                <h3 class="cd-title">Javascript:</h3>
                {{#codeBlock 'javascript'}}
                {{{ getFile '/js/docs/cuts-the-mustard.js' }}}
                {{/codeBlock}}

                <h3 class="cd-title">CSS:</h3>
                <div class="row">
                    <div class="col-md-6 experience-enhanced">
                        <div class="panel">
                            <div class="panel__body">
                                <h4 class="cd-title">.experience-enhanced .if-js</h4>
                                <p class="if-js"><i class="icon-ok-circled"></i> Visible <b>with</b> compatible JS</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 experience-core">
                        <div class="panel">
                            <div class="panel__body">
                                <h4 class="cd-title">.experience-core .if-js</h4>
                                <p class="if-js"><i class="icon-ok-circled"></i> Visible <b>without</b> compatible JS</p>
                                <p><small>(not visible)</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--alternate cd-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="cd-title">Browser support list</h2>
                <p>The baseline feature detection tells us that these browsers cut the mustard:</p>
                <ul>
                    <li>IE 9</li>
                    <li>Firefox 3.5</li>
                    <li>Opera 10.5</li>
                    <li>Safari 4</li>
                    <li>iPhone and iPad iOS 1</li>
                    <li>Android phone and tablets 2.1</li>
                    <li>Blackberry OS 6</li>
                    <li>Opera Mobile 11.5</li>
                    <li>Chrome (all)</li>
                    <li>Mobile Firefox (all)</li>
                </ul>
                <p>We consider browsers on this list to be fully support for enhanced functionality and any browsers that fall outside of this list are considered supported for core functionality only. This means that we do not serve enhanced experience JavaScript to browsers that do not cut the mustard, with the exception of core business functionality which may include:</p>
                <ul>
                    <li>Placing an order</li>
                    <li>Providing payment details</li>
                </ul>
            </div>
        </div>
    </div>
</section>
