<input type="checkbox" id="off-screen-trigger" class="off-screen-trigger">
<label for="off-screen-trigger" class="off-screen-trigger-label">
    <i class="fa fa-bars fa-2x"></i>
    <span class="sr-only">toggle menu</span>
</label>

<div class="off-screen-header"></div>

<div class="off-screen-menu">
    <div class="page-section page-section--bleed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{{ getFile 'site/docs/views/examples/nav/sub-nav-heading.html' }}}
                </div>
            </div>
        </div>
    </div>
    <div class="page-section page-section--brand page-section--bleed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd-offscreen.html' }}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Off screen menu</h1>
            <p class="cd-text">Resize your browser to below 768px viewport width to see the off screen menu in action. full documentation is available on <a href="/patterns/off-screen-menu">the off-screen menu page</a>.</p>
        </div>
    </div>
</div>
