<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Drop down "mega" menu</h1>
            <p class="cd-text">A css only drop down menu which can be further enhanced with JavsScript. This is the desktop view only. Mobile requires a separate solution.</p>
        </div>
    </div>
</div>
<div class="page-section page-section--brand page-section--bleed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
{{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd.html' }}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd.html' }}}
{{/codeBlock}}
        </div>
    </div>
</div>
