<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Drop down "mega" menu</h1>
            <p class="cd-text">A css only drop down menu. If your drop down has too many tabs they may begin to wrap at smaller viewport sizes but this can be mitigated via use of the <a href="/patterns/off-screen-menu">off screen menu</a>.</p>
        </div>
    </div>
</div>

<div class="page-section page-section--brand page-section--bleed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
{{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd.html' }}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd.html' }}}
{{/codeBlock}}
        </div>
    </div>
</div>
