<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Full width panel grid</h1>
            <p class="cd-text">Suggested columns sizes to use for a full width product grid:</p>

            {{#codeBlock}}
grid__col-xs-6 grid__col-sm-4 grid__col-md-3
            {{/codeBlock}}

            <div class="row">
                <ul class="grid">
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/1" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Proactively envisioned multimedia based expertise and cross-media growth strategies.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/2" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Interactively procraxstinate high-payoff content.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/3" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Quickly cultivate optimal processes and tactical architectures.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/4" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Proactively envisioned multimedia based expertise and cross-media growth strategies.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/5" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Interactively procraxstinate high-payoff content.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/6" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Quickly cultivate optimal processes and tactical architectures.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/7" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Interactively procraxstinate high-payoff content.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                    <li class="grid__col-xs-6 grid__col-sm-4 grid__col-md-3 grid__panel grid__panel--shadow">
                        <img src="http://lorempixel.com/400/200/food/8" class="grid__cell-img grid__panel-header-img">
                        <div class="grid__cell grid__panel-body">
                            <p>
                                Quickly cultivate optimal processes and tactical architectures.
                            </p>
                        </div>
                        <div class="grid__cell-footer grid__panel-footer">
                            <a class="button button--block" href="javascript:void(0);">add to cart</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
