<h1 class="cd-text cd-title">links</h1>
<p class="cd-text">Links should always use clear messaging and accurately convey the meaning of the link. Avoid using an <a href="icons">icon</a> alone in a link. Icons should be used to support a text description rather than replace it entirely.</p>
<p class="cd-text">It's important to maintain consistency on elements that the user can interact with but there are also times where the default link style is not appropriate so we've created some link utility classes to help with this.</p>
<h2 class="cd-text cd-title">default</h2>
<p class="cd-text">Links inside a long text block should be left as default style and affect the most relevant part of the text. Avoid single word links where possible.</p>

<p>You find out more about the history of world war 2 at <a href="#">our world war 2 wiki</a> and if you have any further questions please get in touch via one of the methods on <a href="#">our contact page</a>. Alternatively you can <a href="#">visit a nearby library</a>.</p>

<h2 class="cd-text cd-title">transparent image links</h2>
<p class="cd-text">A link around a transparent image would be given the standard link background colour on focus. This might not always be appropriate and can be removed by using the <code>.link-img</code> class.</p>
<a class="link-img" href="#"><img src="https://cdn.graze.com/static/11-1443792395/images/graze/en/header/logo.png"></a>

<h2 class="cd-text cd-title">aside links</h2>
<p class="cd-text">This is not intended to replace <a href="navigation">navigation</a> but it can be appropriate to visually separate a single link from a body of text. Uses the <code>.link-aside</code> class.</p>
<p>showing 1 to 50 of 243 snacks <a href="#" class="link-aside">view all</a></p>

<h2 class="cd-text cd-title">meta links</h2>
<p class="cd-text">Meta links are to be used when a link has low importance, is not a primary call to action and may detract from other nearby information if it uses the default link style. Suitable for use as a close or remove action. Uses the <code>.link-meta</code> class.</p>

<div class="row">
    <div class="col-xxs-8">
        <p>fruit and seed summer mix</p>
    </div>
    <div class="col-xxs-4 text-right">
        <p><a href="#" class="link-meta"><i class="fa fa-close"></i> remove</a></p>
    </div>
</div>
