<h1 class="cd-text cd-title">grid system</h1>
<p class="cd-text">By default we use the Bootstrap 3 grid system, but we have added an intermediate breakpoint for a better mobile experience.</p>
<p class="cd-text">See <a href="http://getbootstrap.com/css/#grid">Bootstrap 3 Docs</a> for example usage and more info.</p>


<h2 class="cd-text cd-title">bootstrap grid modifications</h2>
<p class="cd-text">By default the <code>.col-xs-[n]</code> class is the smallest breakpoint which is activated at <code>&lt; 768px</code> and allows for columns that never collapse to a single column.  We have relegated this behaviour to <code>.col-xxs-[n]</code> to give us collapsing columns using <code>.col-xs-[n]</code> for screen sizes at <code>&lt; 480px</code>.</p>

<h2 class="cd-text cd-title">flexbox grid</h2>
<p class="cd-text">See <a href="http://leejordan.github.io/reflex/docs/">Reflex Docs</a> for example usage and more info.</p>
