<h1 class="cd-text cd-title">tables</h1>
<p class="cd-text">Tables should be used for tabular content such as lists of ingredients.</p>

<div class="panel">
    <div class="panel__body">
        <h4 class="cd-text cd-title">notes</h4>
        <p class="cd-text">The below example uses the <code>.horizontal-overflow</code> div to contain the table.  This ensures that overflowing tables are scrollable and not distored for users with smaller screens. When applicable, always use this container to ensure optimal display of tables.</p>
    </div>
</div>


<h3 class="cd-text cd-title">example</h3>
{{{ getFile 'site/docs/views/examples/table.html' }}}

<h3 class="cd-text cd-title">code</h3>
{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/table.html' }}}
{{/codeBlock}}
