<h1 class="cd-text cd-title">colour palette</h1>

<h2 class="cd-text cd-title">text colours</h2>
<p class="cd-text">The colours below cover the range of text colour variants that should be used on the website.</p>

<h3 class="cd-text cd-title">brand colours</h3>

<div class="row">
    <div class="col-xs-6">
        <h4 class="cd-text cd-title">primary</h4>

        <div class="cd-colour-block" style="background: #00989e;">
            <code class="cd-colour-block__label">#00989e</code>
        </div>

        <pre><code>.colour-brand</code></pre>
    </div>
</div>

<h3 class="cd-text cd-title">monochrome colours</h3>

<div class="row">
    <div class="col-xs-6">
        <h4 class="cd-text cd-title">white</h4>

        <div class="cd-colour-block" style="background: #ffffff;">
            <code class="cd-colour-block__label">#ffffff</code>
        </div>

        <pre><code>.colour-white</code></pre>
    </div>

    <div class="col-xs-6">
        <h4 class="cd-text cd-title">black</h4>

        <div class="cd-colour-block" style="background: #000000;">
            <code class="cd-colour-block__label">#000000</code>
        </div>

        <pre><code>.colour-black</code></pre>
    </div>

    <div class="col-xs-6">
        <h4 class="cd-text cd-title">grey</h4>

        <div class="cd-colour-block" style="background: #555555;">
            <code class="cd-colour-block__label">#555555</code>
        </div>

        <pre><code>.colour-grey</code></pre>
    </div>

    <div class="col-xs-6">
        <h4 class="cd-text cd-title">grey light</h4>

        <div class="cd-colour-block" style="background: #888888;">
            <code class="cd-colour-block__label">#888888</code>
        </div>

        <pre><code>.colour-grey-light</code></pre>
    </div>

    <div class="col-xs-6">
        <h4 class="cd-text cd-title">grey lighter</h4>

        <div class="cd-colour-block" style="background: #cccccc;">
            <code class="cd-colour-block__label">#cccccc</code>
        </div>

        <pre><code>.colour-grey-lighter</code></pre>
    </div>
</div>
