<h1 class="cd-text cd-title">icons</h1>
<h2 class="cd-text cd-title">Loader</h2>
<p class="cd-text">A general loading animation which can be used for any action that is waiting for a response to an in-page (ajax) request.</p>
<p><span class="icon-loader"></span></p>
<p><code>&lt;span class="icon-loader"&gt;&lt;/span&gt;</code></p>

<h2 class="cd-text cd-title">Font awesome icons</h2>
<p class="cd-text">These are the font awesome icons that we use which cover most requirements. A full list can be found at <a href="https://fortawesome.github.io/Font-Awesome/icons/">the font awesome site</a> but care should be taken to stick to this list and avoid using slightly different icons for the same function. Consistency is important.</p>
<p class="cd-text">Use icons sparingly and always provide a text description. Never use an icon on it's own.</p>

{{#each icons}}
<div class="col-sm-6">
    <p><i class="fa {{ name }}"></i> <code>.{{ name }}</code></p>
</div>
{{/each}}
