<h1 class="cd-text cd-title">links</h1>
<p class="cd-text">Links should always use clear messaging and accurately convey the meaning of the link. Avoid using an <a href="icons">icon</a> alone in a link. Icons should be used to support a text description rather than replace it entirely.</p>
<p class="cd-text">It's important to maintain consistency on elements that the user can interact with but there are also times where the default link style is not appropriate so we've created some link utility classes to help with this.</p>
<h2 class="cd-text cd-title">default</h2>
<p class="cd-text">Links inside a long text block should be left as default.</p>

<p>Synergistically disseminate <a href="#">optimal expertise</a> whereas state of the art strategic theme areas. Monotonectally mesh out-of-the-box imperatives before 24/7 potentialities. Rapidiously productize team <a href="#">building portals</a> with seamless innovation. Conveniently. Efficiently provide access to synergistic.</p>
