<h1 class="cd-text cd-title">pagination</h1>
<p class="cd-text">Sometimes we have lots of content that needs to be split into pages.  This is where our pagination component comes in handy.</p>

<h3 class="cd-text cd-title">example</h3>
{{{ getFile 'site/docs/views/examples/pagination.html' }}}

<h3 class="cd-text cd-title">code</h3>
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/pagination.html' }}}
{{/codeBlock}}
