<h1 class="cd-text cd-title">icons</h1>
<p class="cd-text">These are the icons that we use which cover most requirements. Use icons sparingly and always provide a text description. Never use an icon on it's own.</p>

{{#each icons}}
<div class="col-sm-6">
    <p><i class="fa {{ name }}"></i> <code>.{{ name }}</code></p>
</div>
{{/each}}
