<h1 class="cd-text cd-title">panels</h1>
<p class="cd-text">Panels are used to define distinct areas of the page. Useful for displaying contextual information in a way that separates it from the rest of the page. Also intended for use in lists of products to visually separate each product.</p>

<div class="row">
    <div class="col-xs-12">
        <h2 class="cd-text cd-title">basic panels</h2>
        <p class="cd-text">Intended for the presentation of ancillary information or functionality, panels are distinct from <a href="alerts">alerts</a> in that alerts are used for feedback for an action that a user has performed whereas panels are permanent features.
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">with link</h4>
                <div class="panel">
                    <div class="panel__body">
                        <h2>heading</h2>
                        <p>
                            Interactively procraxstinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.
                        </p>
                        <a href="javascript:void(0);">more info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">with button</h4>
                <div class="panel">
                    <div class="panel__body">
                        <h2>heading</h2>
                        <p>
                            Interactively procraxstinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.
                        </p>
                        <a class="button button--secondary" href="javascript:void(0);">more info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">header and footer</h4>
                <div class="panel">
                    <div class="panel__header">
                        panel header
                    </div>
                    <div class="panel__body">
                        <p>
                            Interactively procraxstinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.
                        </p>
                    </div>
                    <div class="panel__footer">
                        panel footer
                    </div>
                </div>
            </div>
        </div>

        <h2 class="cd-text cd-title">clickable panels</h2>
        <p class="cd-text">Clickable panels are used to showcase content or individual products. The whole panel is a link.</p>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">with image</h4>
                <a class="panel panel--shadow" href="javascript:void(0);">
                    <div class="panel__body">
                        <img src="http://lorempixel.com/400/200/food/1" class="img-responsive">
                        <p>
                            Proactively envisioned multimedia based expertise and cross-media growth strategies.
                        </p>
                    </div>
                </a>
            </div>
           <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">full width image</h4>
                <a class="panel panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/2" class="img-responsive panel__header-img">
                    <div class="panel__body">
                        <p>
                            Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4">
                <h4 class="cd-text">with footer</h4>
                <a class="panel panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/3" class="img-responsive panel__header-img">
                    <div class="panel__body">
                        <p>
                            Proactively envisioned multimedia based expertise and cross-media growth strategies.
                        </p>
                    </div>
                    <div class="panel__footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="cd-text cd-title">panel grid</h2>
        <p class="cd-text">A panel grid with same height panels and other flexbox properties via the <a href="grid-system#flexbox-grid">flexbox grid</a>.</p>
        <p class="cd-text">Panel grids are appropriate for lists of products or other content, especially those with dynamic content as flexbox allows the grid to remain intact and aligned vertically regardless of how much content is present.</p>
        <p class="cd-text">For pages without a side nav, please refer to the <a href="/layouts/full-width-panel-grid">recommended full width panel grid structure</a>.</p>
        <div class="row">
            <div class="grid">
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/1" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Proactively envisioned multimedia based expertise and cross-media growth strategies.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/2" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Interactively procraxstinate high-payoff content.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/3" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Quickly cultivate optimal processes and tactical architectures.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/4" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Proactively envisioned multimedia.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/5" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Proactively envisioned multimedia.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/6" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Interactively procraxstinate high-payoff content.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/7" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Proactively envisioned multimedia based expertise and cross-media growth strategies.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
                <a class="grid__col-xs-6 grid__col-md-4 grid__col-lg-3 grid__panel grid__panel--shadow" href="javascript:void(0);">
                    <img src="http://lorempixel.com/400/200/food/8" class="grid__cell-img grid__panel-header-img">
                    <div class="grid__cell grid__panel-body">
                        <p>
                            Quickly cultivate optimal processes and tactical architectures.
                        </p>
                    </div>
                    <div class="grid__cell-footer grid__panel-footer">
                        <span class="pull-left">£3.99</span>
                        <span class="pull-right">4 snacks</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
