<h1 class="cd-text cd-title">grid system</h1>
<p class="cd-text">There are two grids available in pistachio. The <a href="http://getbootstrap.com/css/#grid">bootstrap floated grid</a> and the <a href="http://leejordan.github.io/reflex/docs/">reflex flexbox grid</a>. Standard layouts should by default use the bootstrap grid and where flexbox is required for advanced layout such as same height columns the reflex grid is appropriate.</p>

<h2 class="cd-text cd-title">breakpoints</h2>
<p class="cd-text">Both grids use the same breakpoints.</p>

<pre class="hljs">
// Extra small screen / phone
@screen-xs-min:         480px;

// Small screen / tablet
@screen-sm-min:         768px;

// Medium screen / desktop
@screen-md-min:         992px;

// Large screen / wide desktop
@screen-lg-min:         1200px;

// Larger screen / wider desktop
@screen-xlg-min:        1600px;
</pre>

<h2 class="cd-text cd-title">bootstrap grid</h2>
<p class="cd-text">See <a href="http://getbootstrap.com/css/#grid">Bootstrap 3 Docs</a> for example usage and more info.</p>
<p class="cd-text">n.b. In bootstrap defaults the <code>.col-xs-[n]</code> class is the smallest breakpoint which is activated at <code>&lt; 768px</code> and allows for columns that never collapse to a single column.  We have relegated this behaviour to <code>.col-xxs-[n]</code> to give us collapsing columns using <code>.col-xs-[n]</code> for screen sizes at <code>&lt; 480px</code>.</p>

<h2 class="cd-text cd-title">flexbox grid</h2>
<p class="cd-text">See <a href="http://leejordan.github.io/reflex/docs/">Reflex Docs</a> for example usage and more info.</p>
