<h1 class="cd-text cd-title">breadcrumbs</h1>
<p class="cd-text">Breadcrumbs are intended to give context to where the current page is positioned in a hierachy. It gives the user the ability to easily navigate to any previous steps in that hierachy.</p>

<h2 class="cd-text cd-title">Basic breadcrumb</h2>
{{{ getFile 'site/docs/views/examples/breadcrumb-basic.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/breadcrumb-basic.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">Breadcrumb with incorporated page title</h2>
{{{ getFile 'site/docs/views/examples/breadcrumb-title.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/breadcrumb-title.html' }}}
{{/codeBlock}}
