<h1 class="cd-text cd-title">Off screen menu</h1>
<p class="cd-text">This is a HTML/CSS only solution because it is lightweight and very reliable across different browsers. It is composed of four main elements which <strong>should all be directly adjacent to each other in the markup</strong>.</p>

<p class="cd-text">Any content placed inside the off screen menu will be moved off screen below 768px viewport width. At the same time, a label becomes visible with which the user can toggle the visibility of the off screen menu. It is intended to be used with <a href="navigation">navigation</a> elements to give you a mobile menu solution without writing additional markup.</p>

<h2 class="cd-text cd-title">page header</h2>
<p class="cd-text">A simple empty div which should be positioned at the top of the page directly after the opening <code>body</code> tag. This element is given a min-height when below the activation breakpoint which allows room for the absolutely positioned menu trigger.</p>

{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/off-screen/off-screen-header.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">menu trigger</h2>
<p class="cd-text">A hidden checkbox input that is toggled by clicking the label. The label itself is only visible below 768px viewport width and is absolutely positioned over the page header element.</p>

{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/off-screen/off-screen-trigger.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">menu content</h2>
<p class="cd-text">The content of the off screen menu is visible at all times but below the 768px viewport width it is moved into the off-screen menu. this allows you to re-use the same markup for dekstop and mobile. When using <a href="navigation">navigation</a> elements these are re-styled in the off screen menu to be more mobile friendly.</p>

{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/off-screen/off-screen-menu.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">page wrapper</h2>
<p class="cd-text">
    The content of the page that follows should be entirely wrapped in a <code>.page-wrapper</code> class. If you're using the <a href="grid-system">bootstrap or flexbox grid</a> then you should already have a container element and this class can be appended to that.
</p>

{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/off-screen/off-screen-wrapper.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">Demo</h2>
<p class="cd-text">This off-screen menu should only be used at the top of a page. For that reason you should visit <a href="/layouts/off-screen-menu">the full page example</a> for a demo.</p>
