<h1 class="cd-text cd-title">typography</h1>
<p class="cd-text ">We use three fonts; a heading font, body font and cursive font. Our typographic elements have set margins to ensure consistency. Most modules such as <a href="page-sections">page section</a> will remove top margin from the first child element and bottom margin from the last child element to ensure consistent spacing.</p>

<h2 class="cd-text cd-title">headings</h2>
<p class="cd-text ">Headings should always be lowercase. They can have commas, but not full stops. An exception is made when a person's name or brand is mentioned e.g. our nutritionist, Jess.</p>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <h1>page heading</h1>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
        <h1 class="hidden-xs hidden-xxs">32px</h1>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs hidden-xxs">
        <h1 class="">graze Pro</h1>
    </div>
    <div class="col-xs-6 col-sm-2 visible-xs-block text-right-xs visible-xxs-block">
        <p>32px / graze Pro</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <h1>
            {{#codeBlock}}
            <h1>...</h1>
            {{/codeBlock}}
        </h1>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <h2>subpage heading</h2>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
        <h2 class="hidden-xs hidden-xxs">25.6px</h2>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs hidden-xxs">
        <h2>graze Pro</h2>
    </div>
    <div class="col-xs-6 col-sm-2 visible-xs-block text-right-xs visible-xxs-block">
        <p>25.6px / graze Pro</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <h2>
            {{#codeBlock}}
            <h2>...</h2>
            {{/codeBlock}}
        </h2>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <h3>section heading</h3>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
        <h3 class="hidden-xs hidden-xxs">22.4px</h3>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs hidden-xxs">
        <h3>Helvetica Neue</h3>
    </div>
    <div class="col-xs-6 col-sm-2 visible-xs-block text-right-xs visible-xxs-block">
        <p>22.4px / Helvetica Neue</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <h3>
            {{#codeBlock}}
            <h3>...</h3>
            {{/codeBlock}}
        </h3>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <h4>sub section heading</h4>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
        <h4 class="hidden-xs hidden-xxs">19.2px</h4>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs hidden-xxs">
        <h4>Helvetica Neue</h4>
    </div>
    <div class="col-xs-6 col-sm-2 visible-xs-block text-right-xs visible-xxs-block">
        <p>19.2px / Helvetica Neue</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <h4>
            {{#codeBlock}}
            <h4>...</h4>
            {{/codeBlock}}
        </h4>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <h5>sub sub section heading</h5>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
        <h5 class="hidden-xs hidden-xxs">17.6px</h5>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs hidden-xxs">
        <h4>Helvetica Neue</h4>
    </div>
    <div class="col-xs-6 col-sm-2 visible-xs-block text-right-xs visible-xxs-block">
        <p>17.6px / Helvetica Neue</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <h5>
            {{#codeBlock}}
            <h5>...</h5>
            {{/codeBlock}}
        </h5>
    </div>
</div>

<h2 class="cd-text cd-title">paragraphs and additional styles</h2>
<div class="row">
    <div class="col-md-8">
        <p class="lead">Lead paragraph, often used for an opening summary.</p>
        {{#codeBlock}}
        <p class="lead">...</p>
        {{/codeBlock}}
        <br>

        <p><strong>Strong for bold copy or form labels.</strong></p>
        {{#codeBlock}}
        <p><strong>...</strong></p>
        {{/codeBlock}}
        <br>

        <p>This is our standard paragraph and base font size.</p>
        {{#codeBlock}}
        <p>...</p>
        {{/codeBlock}}
        <br>

        <p class="meta"><i class="fa fa-question-circle"></i> Additional guidance information relating to nearby content.</p>
        {{#codeBlock}}
        <p class="meta"><i class="fa fa-question-circle"></i> ...</p>
        {{/codeBlock}}
        <br>

        <p class="voice">cursive for captions and voice</p>
        {{#codeBlock}}
        <p class="voice">...</p>
        {{/codeBlock}}
        <br>

        <p><small>Small for legal copy, disclaimers and copyright information.</small></p>
        {{#codeBlock}}
        <p><small>...</small></p>
        {{/codeBlock}}
        <br>

        <p class="monospaced">REFERRAL CODE / URL</p>
        {{#codeBlock}}
        <p class="monospaced">...</p>
        {{/codeBlock}}
    </div>
    <br>

    <div class="col-md-4 page-section__content">
        <div class="panel">
            <div class="panel__body cd-text">
                <h4 class="cd-title">notes</h4>
                <p>Our base font size is 16px.</p>
                <p>Paragraphs should have a maximum width of 555px to ensure an optimum line length of around 75 characters.</p>
                <p>Also, avoid center aligned paragraphs.</p>
            </div>
        </div>
    </div>
</div>

<h3 class="cd-text cd-title">content example</h3>
<div class="row">
    <div class="col-sm-8">
        <h2>conveniently integrate cross functional</h2>
        <p class="lead">Intrinsicly exploit virtual infomediaries vis-a-vis equity invested processes. Interactively iterate error free.</p>
        <p>Synergistically disseminate optimal expertise whereas state of the art strategic theme areas. Monotonectally mesh out-of-the-box imperatives before 24/7 potentialities. Rapidiously productize team building portals with seamless innovation. Conveniently. Efficiently provide access to synergistic.</p>
    </div>
</div>
