<h1 class="cd-text cd-title">utilities</h1>
<p class="cd-text">A collection of utility classes to aid responsive layout and accessibility</p>

<h2 class="cd-text cd-title">image utilities</h2>
<p class="cd-text">img-responsive should be considered a default class which is applied to all images unless you specifically want it to be a fixed size.</p>

<div class="row">
    <div class="col-xs-4">
        <p class="cd-text">img-responsive</p>
        <img src="http://lorempixel.com/600/300/food/4" class="img-responsive">
    </div>
    <div class="col-xs-4">
        <p class="cd-text">img-rounded</p>
        <img src="http://lorempixel.com/600/300/food/5" class="img-responsive img-rounded">
    </div>
    <div class="col-xs-4">
        <p class="cd-text">img-circle</p>
        <img src="http://lorempixel.com/200/200/food/6" class="img-responsive img-circle center-block">
    </div>
</div>

<h2 class="cd-text cd-title">text alignment</h2>
<div class="row">
    <div class="col-xs-4">
        <div class="panel text-left">
            <div class="panel__body">
                text-left
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel text-center">
            <div class="panel__body">
                text-center
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel text-right">
            <div class="panel__body">
                text-right
            </div>
        </div>
    </div>
</div>

<h2 class="cd-text cd-title">responsive text alignment</h2>
<p class="cd-text">Align text differently at different breakpoints. The breakpoint in the class name describes the breakpoint <strong>above</strong> which the text alignment is applied. Used in combination with a default text alignment utility class.</p>
<div class="row">
    <div class="col-xs-12">
        <div class="panel text-left-xs text-center">
            <div class="panel__body">
                text-left-xs
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel text-left-sm text-center">
            <div class="panel__body">
                text-left-sm
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel text-left-md text-center">
            <div class="panel__body">
                text-left-md
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel text-left-lg text-center">
            <div class="panel__body">
                text-left-lg
            </div>
        </div>
    </div>
</div>

<h2 class="cd-text cd-title">alignment</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="panel text-center center-block" style="width: 300px;">
            <div class="panel__body">
                center-block
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel pull-left text-center">
            <div class="panel__body">
                pull-left
            </div>
        </div>
        <div class="panel pull-right text-center">
            <div class="panel__body">
                pull-right
            </div>
        </div>
    </div>
</div>

<h2 class="cd-text cd-title">responsive alignment</h2>
<p class="cd-text">Align elements differently at different breakpoints. The breakpoint in the class name describes the breakpoint <strong>above</strong> which the alignment is applied.</p>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel__body">
                pull-right-xs
                <img src="http://lorempixel.com/50/50/food/7" class="img-responsive center-block pull-right-xs">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel__body">
                pull-right-sm
                <img src="http://lorempixel.com/50/50/food/8" class="img-responsive center-block pull-right-sm">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel__body">
                pull-right-md
                <img src="http://lorempixel.com/50/50/food/9" class="img-responsive center-block pull-right-md">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel__body">
                pull-right-lg
                <img src="http://lorempixel.com/50/50/food/10" class="img-responsive center-block pull-right-lg">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<h2 class="cd-text cd-title">responsive visiblity</h2>
<p class="cd-text">Use combinations of these to change visiblity of elements across different breakpoints.</p>
<h3 class="cd-text cd-title">hidden</h3>
<div class="row">
    <div class="col-xs-2">
        <p>hidden-xxs</p>
        <div class="panel panel--brand hidden-xxs text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>hidden-xs</p>
        <div class="panel panel--brand hidden-xs text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>hidden-sm</p>
        <div class="panel panel--brand hidden-sm text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>hidden-md</p>
        <div class="panel panel--brand hidden-md text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>hidden-lg</p>
        <div class="panel panel--brand hidden-lg text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
</div>

<h3 class="cd-text cd-title">visible</h3>
<p class="cd-text">Be sure to use the correct class based on the display attribute of the element you are making visible. for example, applying visible-sm-block to an inline element will cause it to be displayed as a block element and potentially break your layout.</p>
<div class="row">
    <div class="col-xs-2">
        <p>visible-xxs-block</p>
        <div class="panel panel--brand visible-xxs-block text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>visible-xs-block</p>
        <div class="panel panel--brand visible-xs-block text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>visible-sm-block</p>
        <div class="panel panel--brand visible-sm-block text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>visible-md-block</p>
        <div class="panel panel--brand visible-md-block text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <div class="col-xs-2">
        <p>visible-lg-block</p>
        <div class="panel panel--brand visible-lg-block text-center">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-xs-2">
        <p>visible-xxs-inline</p>
        <button class="button button--secondary visible-xxs-inline text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-xs-inline</p>
        <button class="button button--secondary visible-xs-inline text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-sm-inline</p>
        <button class="button button--secondary visible-sm-inline text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-md-inline</p>
        <button class="button button--secondary visible-md-inline text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-lg-inline</p>
        <button class="button button--secondary visible-lg-inline text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-xs-2">
        <p>visible-xxs-inline-block</p>
        <button class="button button--secondary visible-xxs-inline-block text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-xs-inline-block</p>
        <button class="button button--secondary visible-xs-inline-block text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-sm-inline-block</p>
        <button class="button button--secondary visible-sm-inline-block text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-md-inline-block</p>
        <button class="button button--secondary visible-md-inline-block text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
    <div class="col-xs-2">
        <p>visible-lg-inline-block</p>
        <button class="button button--secondary visible-lg-inline-block text-center">
            <i class="fa fa-check-circle"></i>
        </button>
    </div>
</div>

<h2 class="cd-text cd-title">accessibility utilities</h2>
<h3 class="cd-text cd-title">extra explanation</h3>
<p class="cd-text">Where appropriate you can place explanatory text with the <code>.sr-only</code> class which is only visible to assitive devices such as screen readers. You should consider doing this if the meaning of your functionality may be ambiguous without further explanation.</p>

{{{ getFile 'site/docs/views/examples/sr-only.html' }}}
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/sr-only.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">hiding elements</h3>
<p class="cd-text">When an element is visually disabled and unusable it's a good idea to also apply the <code>aria-hidden</code> property to explicitly hide it in assistive devices to avoid confusion.</p>
{{{ getFile 'site/docs/views/examples/aria-hidden.html' }}}
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/aria-hidden.html' }}}
{{/codeBlock}}
