<h1 class="cd-text cd-title">patterns</h1>
<p class="cd-text">Our patterns are the building blocks of a graze experience.  They are used together to create page layouts and larger components.</p>

<p class="cd-text">A pattern is defined a building block for a larger organism.  Patterns can be BEM modules or simple class modifiers that change an elements presentation.</p>

<h2 class="cd-text cd-title">Block, Element, Modifier</h2>
<p class="cd-text">Our CSS follows a Block, Element, Modifier (BEM) syntax to create clarity and naming consistency across our patterns.  BEM is arguably verbose, but it helps prevent common CSS rabit holes such as:</p>
<ul class="cd-text">
    <li>CSS specificty</li>
    <li>Classname ambiguity</li>
    <li>global CSS changes</li>
</ul>

<h2 class="cd-text cd-title">Piecing it all together</h2>
