<h1 class="cd-text cd-title">accordion</h1>
<p>documentation in progress - this is a responsive accordion that will only behave as an accordion at certain breakpoints</p>

<div class="accordion" data-p-module="accordion" data-accordion-responsive="xxs,xs,sm">
    <div class="accordion__section">
        <div class="accordion__section__title">
            <button class="button button--link">accordion xxs, xs, sm</button>
        </div>
        <div class="accordion__section__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="accordion" data-p-module="accordion" data-accordion-responsive="xs,sm,md">
    <div class="accordion__section">
        <div class="accordion__section__title">
            <button class="button button--link">accordion xs, sm, md</button>
        </div>
        <div class="accordion__section__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="accordion" data-p-module="accordion" data-accordion-responsive="lg">
    <div class="accordion__section">
        <div class="accordion__section__title">
            <button class="button button--link">accordion lg</button>
        </div>
        <div class="accordion__section__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="accordion" data-p-module="accordion">
    <div class="accordion__section">
        <div class="accordion__section__title">
            <button class="button button--link">accordion with no breakpoints</button>
        </div>
        <div class="accordion__section__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
