<h1 class="cd-text cd-title">patterns</h1>
<p class="cd-text">Our patterns are the building blocks of a graze experience.  They are used together to create page layouts and larger components.</p>

<p class="cd-text">A pattern is a building block for any graze website.  Patterns can be BEM modules or simple class modifiers that change an element's presentation.</p>
