<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Browser Support</h1>

            <blockquote>
                <p>
                    Browsers are the most hostile software development environment imaginable.
                </p>
                <footer>
                    - Douglas Crockford
                </footer>
            </blockquote>

            <h2>Cutting the Mustard</h2>
            <p>In order to create enhanced experiences for users with modern browsers, we need to be able to tell whether we have the support for some baseline features. Our approach is taken from FT Labs Origami <a href="http://origami.ft.com/docs/developer-guide/using-modules/#core-vs-enhanced-experience">core/enhanced check</a> and implements a small piece of inline JS which switches a class in the <code>&lt;html&gt;</code> tag.</p>

            <h3>Javascript:</h3>
            <pre>
                <code class="javascript">
{{ getFile '/js/cuts-the-mustard.js' }}
                </code>
            </pre>

            <h3>CSS:</h3>
            <div class="row">
                <div class="col-md-6 experience-enhanced">
                    <div class="panel">
                        <div class="panel__body">
                            <h4>.experience-enhanced .if-js</h4>
                            <p class="if-js"><i class="icon-ok-circled"></i> Visible <b>with</b> compatible JS</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 experience-core">
                    <div class="panel">
                        <div class="panel__body">
                            <h4>.experience-core .if-js</h4>
                            <p class="if-js"><i class="icon-ok-circled"></i> Visible <b>without</b> compatible JS</p>
                            <p><small>(not visible)</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Browser support list</h3>
            <p>The baseline feature detection tells us that these browsers cut the mustard:</p>
            <ul>
                <li>IE 9</li>
                <li>Firefox 3.5</li>
                <li>Opera 10.5</li>
                <li>Safari 4</li>
                <li>iPhone and iPad iOS 1</li>
                <li>Android phone and tablets 2.1</li>
                <li>Blackberry OS 6</li>
                <li>Opera Mobile 11.5</li>
                <li>Chrome (all)</li>
                <li>Mobile Firefox (all)</li>
            </ul>
            <p>We consider browsers on this list to be fully support for enhanced functionality and any browsers that fall outside of this list are considered supported for core functionality only. This means that we do not serve enhanced experience JavaScript to browsers that do not cut the mustard, with the exception of core business functionality which may include:</p>
            <ul>
                <li>Placing an order</li>
                <li>Providing payment details</li>
            </ul>
        </div>
    </div>
</div>
