<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Icons</h1>

            <p class="lead">We use Font Awesome for icons.  For information on which icons are available visit the <a href="http://fontawesome.io/">official docs</a>.</p>

            <h2>Usage</h2>

            <pre><code>&lt;i class=&quot;fa fa-check-circle&quot;&gt;&lt;/i&gt;</code></pre>

            <p>Use <code>&lt;i&gt;</code> tags to define an icon.  All icon classes must use the <b>fa</b> as well as the icon class name.</p>

            <h2>Examples</h2>

            <h3>Loading</h3>
            <div class="row">
                <div class="col-xs-12">
                    <i class="icon-loader"></i>
                </div>
            </div>

            <h3>Navigation</h3>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="fa fa-arrow-circle-o-up"></i> fa-arrow-circle-o-up</p>
                    <p><i class="fa fa-arrow-circle-o-down"></i> fa-arrow-circle-o-down</p>
                    <p><i class="fa fa-arrow-up"></i> fa-arrow-up</p>
                    <p><i class="fa fa-arrow-down"></i> fa-arrow-down</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-chevron-left"></i> fa-chevron-left</p>
                    <p><i class="fa fa-chevron-right"></i> fa-chevron-right</p>
                    <p><i class="fa fa-caret-up"></i> fa-caret-up</p>
                    <p><i class="fa fa-caret-down"></i> fa-caret-down</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-angle-up"></i> fa-angle-up</p>
                    <p><i class="fa fa-angle-down"></i> fa-angle-down</p>
                </div>
            </div>

            <h3>Interaction</h3>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="fa fa-search"></i> fa-search</p>
                    <p><i class="fa fa-user"></i> fa-user</p>
                    <p><i class="fa fa-search-plus"></i> fa-search-plus</p>
                    <p><i class="fa fa-minus"></i> fa-minus</p>
                    <p><i class="fa fa-plus"></i> fa-plus</p>
                    <p><i class="fa fa-sign-out"></i> fa-sign-out</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-thumb-tack"></i> fa-thumb-tack</p>
                    <p><i class="fa fa-plane"></i> fa-plane</p>
                    <p><i class="fa fa-print"></i> fa-print</p>
                    <p><i class="fa fa-envelope-o"></i> fa-envelope-o</p>
                    <p><i class="fa fa-history"></i> fa-history</p>
                    <p><i class="fa fa-repeat"></i> fa-repeat</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-gift"></i> fa-gift</p>
                    <p><i class="fa fa-random"></i> fa-random</p>
                    <p><i class="fa fa-cog"></i> fa-cog</p>
                    <p><i class="fa fa-edit"></i> fa-edit</p>
                    <p><i class="fa fa-edit"></i> fa-close</p>
                </div>
            </div>

            <h3>Information</h3>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="fa fa-info-circle"></i> fa-info-circle</p>
                    <p><i class="fa fa-question-circle"></i> fa-question-circle</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-warning"></i> fa-warning</p>
                    <p><i class="fa fa-exclamation-circle"></i> fa-exclamation-circle</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-tag"></i> fa-tag</p>
                    <p><i class="fa fa-check-circle"></i> fa-check-circle</p>
                </div>
            </div>

            <h3>Social</h3>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="fa fa-facebook-square"></i> fa-facebook-square</p>
                    <p><i class="fa fa-twitter-square"></i> fa-twitter-square</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-tumblr-square"></i> fa-tumblr-square</p>
                    <p><i class="fa fa-instagram"></i> fa-instagram</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="fa fa-linkedin-square"></i> fa-linkedin-square</p>
                    <p><i class="fa fa-code"></i> fa-code</p>
                </div>
            </div>
        </div>
    </div>
</div>
