<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>accordion 1</h2>
                {{{ getFile 'site/docs/views/examples/accordion.html' }}}

                <h2>accordion 2</h2>
                <div class="accordion" data-accordion>
                    <div class="accordion__section">
                        <div class="accordion__section__title">
                            <button class="button button--link">Nested accordion</button>
                        </div>
                        <div class="accordion__section__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <div class="panel">
                                <div class="panel__body">
                                    {{{ getFile 'site/docs/views/examples/accordion.html' }}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
// Demonstrates usage of api outside of self contained module JS
(function($) {
    // Listen to accordion init event (fired on all instantiated modules)
    var $accordion = $('.accordion:first').on('p.accordion.init', function(e, api) {
        // Open all sections
        api.showAll();

        // Close all sections
        setTimeout(api.hideAll, 1000);

        // Open all sections
        setTimeout(api.showAll, 3000);
    });

    // Setup new acordion
    pistachio.accordion($('[data-accordion]'));
}(jQuery));
</script>

<style type="text/css">
.accordion__section__title {
    background-color: #eee;
    padding: .5em;
}
</style>
