<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Tables</h1>

            <p>For better mobile performance, nest tables inside a horizontal-overflow wrapping element</p>

            <div class="horizontal-overflow">
                <table class="table horizontal-overflow__table">
                    <thead>
                        <tr>
                            <th class="col-xxs-4">
                                &nbsp;
                            </th>
                            <th class="col-xxs-4">
                                <strong>
                                    per 100g
                                </strong>
                            </th>
                            <th class="col-xxs-4">
                                <strong>
                                    per punnet (18g)
                                </strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Energy
                            </td>
                            <td>
                                2100 kJ
                                <br>
                                501 kcal
                            </td>
                            <td>
                                378 kJ
                                <br>
                                90 kcal
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fat<br>
                                <small>
                                    of which saturates
                                </small>
                            </td>
                            <td>
                                24 g
                                <br>
                                <small>
                                    7.6 g
                                </small>
                            </td>
                            <td>
                                4.4 g
                                <br>
                                <small>
                                    1.4 g
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Carbohydrate<br>
                                <small>
                                    of which sugars
                                </small>
                            </td>
                            <td>
                                61 g
                                <br>
                                <small>
                                    5.8 g
                                </small>
                            </td>
                            <td>
                                11 g
                                <br>
                                <small>
                                    1.1 g
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fibre
                            </td>
                            <td>
                                3.5 g
                            </td>
                            <td>
                                0.6 g
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Protein
                            </td>
                            <td>
                                8.1 g
                            </td>
                            <td>
                                1.5 g
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Salt *
                            </td>
                            <td>
                                2 g
                            </td>
                            <td>
                                0.33 g
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                * no added salt – purely from naturally occurring sodium
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
