// Button
// ---

.button {
    .user-select(none);
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    padding: .5em 1em;
    .button-style();
}

// Button Colours
.button--primary {
    .button-style(@colour-accent, @colour-white);
}

.button--secondary {
    .button-style(@colour-grey-light, @colour-white);
}

.button--danger {
    .button-style(@colour-state-danger, @colour-white);
}


// Button Sizing
.button--sm {
    font-size: .8em;
}

.button--lg {
    font-size: 1.2em;
}
