//
// Forms
// ---

// Normalize form controls
// ---

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
    .box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
      margin: 4px 0 0;
      margin-top: 1px \9; // IE8-9
      line-height: normal;
}

input[type="file"] {
    display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
      display: block;
      width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
    -webkit-appearance: none;
}

// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 8.3, iOS doesn't support `datetime` or `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"] {
        &.form-control {
            line-height: @input-height-base;
        }
    }
}

// Labels
// ---
label {
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content
    margin-bottom: @dimension-padding-base;
    font-weight: @font-weight-strong;
}

// add extra info after the label based on value of data-label-info
.label-info:after {
    content: attr(data-label-info);
    padding-left: @dimension-padding-base;
    color: @colour-grey-light;
    font-size: @font-size-sm-px;
    font-size: @font-size-sm-rem;
    font-weight: normal;
}

// Common form controls
// ---
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
    display: block;
    width: 100%;
    height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: @dimension-padding-base @dimension-padding-lg;
    font-size: @font-size-base-px;
    font-size: @font-size-base-rem;
    line-height: @line-height-base;
    color: @input-colour;
    background-color: @input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid @input-border;
    border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    .box-shadow(inset 0 1px 1px @colour-grey-lighter);
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

    &:focus {
        .form-control-focus(@colour-accent);
    }

    // Placeholder
    .placeholder(@input-colour-placeholder);

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: @colour-state-disabled;
        color: @colour-state-disabled-text;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
    }
}

// Form groups and validation
// ---

.form-group {
    margin-bottom: @dimension-spacing-default;
}

// Help text in form-group
.form-group__help-block {
    display: block;
    margin-top: @dimension-padding-base;
    margin-bottom: @dimension-padding-lg;
    color: @colour-grey-light;
}

// Modifier for form-group to indicate this group will use inline validation
.form-group--has-validation {
    .form-group__help-block {
        position: absolute;
        right: 5px;
        text-align: right;
    }
}

// Validation feedback states
.form-group--has-feedback {
    // Enable absolute positioning
    position: relative;

    // Ensure icons don't overlap text
    .form-control {
        padding-right: (@input-height-base * 1.25);
    }
}

.form-group--has-success {
    .form-control-validation(@colour-accent; @colour-accent; @colour-white);
}

.form-group--has-error {
    .form-control-validation(@colour-error; @colour-error; @colour-white);
}

// Feedback icon
.form-control-feedback {
    position: absolute;
    top: ((@font-size-base-px * @line-height-base) + @dimension-padding-base);
    bottom: 0;
    right: 0;
    z-index: 2; // Ensure icon is above input groups
    display: block;
    width: @input-height-base;
    height: @input-height-base;
    line-height: @input-height-base;
    text-align: center;
    pointer-events: none;
}


// Checkboxes and radios
// ---

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
        min-height: @dimension-spacing-default; // Ensure the input doesn't jump when there is no text
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9; // ie9 hack
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    padding: @dimension-padding-base @dimension-padding-lg @dimension-padding-base ((@dimension-padding-base * 2) + 20);
    border-radius: @dimension-border-radius;
    border: 1px solid @input-border;
    margin-right: @dimension-padding-base;
    margin-bottom: @dimension-padding-base;

    & + & {
      margin-left: 0;
      margin-right: 10px;
    }
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
    &[disabled],
    &.disabled,
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }
}
// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
    &.disabled,
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }
}
// These classes are used on elements with <label> descendants
.radio,
.checkbox {
    &.disabled,
    fieldset[disabled] & {
        label {
            cursor: @cursor-disabled;
        }
    }
}
