// Includes
@import '../includes/variables';
@import '../includes/mixins';

//
// Navigation
// ===

//
// Default
// ---
.nav {
    .list-inline-style();
    .clearfix();
    display: block;
    margin: 0;

    li {
        margin: @nav-spacing-xs 0;
        vertical-align: middle;
    }
}

.nav__item {
    .nav-item-style();
    display: inline-block;
    padding: @nav-spacing-md @nav-spacing-lg;


    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        .focus-reset();
    }
}

.nav__item--active {
    .nav-item-style-active();

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.nav__heading {
    .margins(0, 1, 0, 0);
}

//
// Default inverse
// ---
.nav--inverse {
    .nav__item {
        .nav-item-style(
            @colour-white,
            @colour-white,
            transparent,
            transparent,
            @colour-white,
            @colour-white
        );
    }

    .nav__item--active {
        .nav-item-style-active(
            @colour-brand,
            @colour-brand,
            @colour-white,
            @colour-white,
            @colour-white,
            @colour-white
        );
    }
}

//
// Variants for nav_item
// ---
.nav__item--pill {
    border-radius: @dimension-border-radius;
}

//
// Block variant
// ---
.nav--block {
    li {
        display: block;
        float: left;
        margin: 0;

        .nav__item {
            padding: @nav-spacing-lg;
        }
    }
}

//
// Inverse block variant
// ---
.nav--inverse.nav--block {
    li {
        .nav__item {
            .nav-item-style(
                @colour-white,
                @text-colour,
                @colour-brand,
                @colour-grey-lightest,
                @colour-grey-lightest,
                @colour-grey-lightest
            );
        }

        .nav__item--active {
            .nav-item-style-active(
                @colour-brand,
                @colour-brand,
                @colour-white,
                @colour-white,
                @colour-white,
                @colour-white
            );
        }
    }
}

//
// Small block variant
//
.nav--block--sm {
    li {
        .nav__item {
            padding: @nav-spacing-sm @nav-spacing-lg;
        }
    }
}

//
// Tabbed nav variant
// ---
.nav--tabs {
    li {
        margin: @nav-spacing-md 0 0 @nav-spacing-md;

        .nav__item {
            .nav-item-style(
                @colour-white,
                @text-colour,
                @colour-brand,
                @colour-grey-lightest,
                @colour-grey-lightest,
                @colour-grey-lightest
            );
            padding: @nav-spacing-md @nav-spacing-lg @nav-spacing-lg;
            border-radius: @dimension-border-radius @dimension-border-radius 0 0;
        }

        .nav__item--active {
            .nav-item-style-active(
                @colour-brand,
                @colour-brand,
                @colour-white,
                @colour-white,
                @colour-white,
                @colour-white
            );
        }
    }
}

//
// Small tabbed variant
//
.nav--tabs--sm {
    li {
        margin: @nav-spacing-xxs 0 0 @nav-spacing-xxs;

        .nav__item {
            padding: @nav-spacing-xxs @nav-spacing-md @nav-spacing-sm;
        }
    }
}

//
// Tabbed nav with drop down menu
// ---
.nav-dropdown-wrapper {
    position: relative;
}

.nav--dropdown-tabs {
    > li {
        display: block;
        float: left;
        margin: @nav-spacing-md 0 0 0;

        .nav__item {
            padding: 0.5em 1em 1em;
            border-radius: @dimension-border-radius @dimension-border-radius 0 0;
            color: @colour-white;

            &:after {
                content: "\f107";
                .icon();
                margin-left: 0.5em;
            }

            &:hover {
                color: @colour-brand;
                background: @colour-white;
                border: 1px solid @colour-white;
            }

            &:focus {
                color: @colour-white;
                background: transparent;
                border: 1px solid @colour-brand;
            }
        }

        &:hover {
            .nav__item {
                color: @colour-brand;
                background: @colour-white;
                border: 1px solid @colour-white;
            }

            .nav__menu {
                display: block;
            }
        }
    }
}

.nav__menu {
    .drop-shadow.outside();
    .border-bottom-radius(@dimension-border-radius);
    display: none;
    z-index: @z-index-top;
    .position(absolute, 100%, 0, ~'', 0);
    margin-top: 0;
    padding: 1em 0;
    background-color: @colour-white;
    border-top: none;

    li {
        display: block;
    }

    a {
        text-decoration: none;
    }

    .nav__menu__footer {
        padding-top: 1em;
        padding-bottom: 0;
        margin-top: 1em;
        margin-bottom: 0;
        border-top: @border-default;
    }
}

.nav__sub-menu {
    display: block;

    .nav__sub-menu__header {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        .font-size(1.2);
        font-weight: @font-weight-strong;
        border-bottom: @border-default;
        color: @text-colour;
    }
}

//
// Vertical
// ---
.nav--vertical {
    display: block;

    li {
        display: block;
    }

    .nav__item {
        display: block;
        margin-bottom: 0.5em;
    }
}
