// Includes
@import '../includes/variables';
@import '../includes/mixins';

//
// Navigation
// ===

//
// Horizontal
// ---
.nav {
    .list-inline();
}

.nav__item {
    .nav-item-style();
    display: inline-block;
}

.nav__item--active {
    .nav-item-style-active();
}

.nav__heading {
    .lead();
    .margins(0, 1, 0, 0);
}

// inverse colour variant
.nav--inverse {
    .nav__item {
        .nav-item-style(@colour-white, @text-colour, @nav-hover-bg-colour, @nav-hover-bg-colour);
    }

    .nav__item--active {
        .nav-item-style-active(@colour-white, @text-colour, @colour-brand, @nav-hover-bg-colour, @colour-white, @colour-white);
    }
}


//
// Vertical
// ---
.nav--vertical {
    display: block;

    li {
        display: block;
    }

    .nav__item {
        display: block;
        margin-bottom: 0.5em;
    }
}

//
// Mobile vertical
// ---
@media (max-width: @screen-sm-min) {
    .nav--vertical {
        li {
            margin: 0;
            border-bottom: 1px solid @nav-hover-bg-colour;

            &:first-child {
                border-top: 1px solid @nav-hover-bg-colour;
            }
        }

        .nav__item {
            margin-bottom: 0;
            border-radius: 0;
            padding: 0.5em;
        }

        .nav__item--active {
            border-bottom: none;
        }
    }
}
