// Includes
@import '../includes/variables';
@import '../includes/mixins';

//
// Pagination
// ===

.pagination {
    display: block;
}

.pagination__description {
    display: inline-block;
}

.pagination__list {
    .list-inline-style();
    display: inline-block;
    margin: 0;
}

.pagination__list__item {
    display: inline-block;
    .nav-item-style();
    padding: 0.5em 1em;
    border-radius: @dimension-border-radius;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.pagination__list__item--active {
    .nav-item-style-active();
}

.pagination__list__item--disabled {
    pointer-events: none;
    color: @colour-grey-lightest;
}

.pagination--vertical {
    .pagination__description,
    .pagination__list {
        display: block;
        text-align: center;
    }
}
