//
// Pagination
// ---
.pagination {
    text-align: center;
    margin-bottom: 1em;
}

.pagination__description {
    .small();
    margin-bottom: 0.5em;
}

.pagination__list {
    .list-inline();
    margin: 0;
}

.pagination__list__item {
    display: block;
    .nav-style();
}

.pagination__list__item--active {
    .nav-style-active();
}

.pagination__list__item--disabled {
    pointer-events: none;
    color: @nav-hover-bg-colour;
}

