//
// Pagination (multiple pages)
// ---

.pagination {
    text-align: center;
    margin-bottom: 1em;
}

.pagination__description {
    .small();
    margin-bottom: 0.5em;
}

.pagination__list {
    .list-inline();
    margin: 0;

    li {
        display: inline;
        padding: 0 (@dimension-padding-base / 2);

        a {
            padding: @dimension-padding-base @dimension-padding-lg;

            &:hover,
            &:focus {
                background-color: @colour-grey-lightest;
                color: @link-hover-colour;
            }

            &:focus {
                .tab-focus();
            }
        }
    }
}

li.pagination__list__active {
    a {
        pointer-events: none;
        cursor: @cursor-disabled;
        .tab-focus(@colour-brand);
    }
}

li.pagination__list__disabled {
    a {
        pointer-events: none;
        cursor: @cursor-disabled;
        color: @colour-grey-lighter;
    }
}
