<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Buttons</h1>

            <h2>default</h2>
            <button type="submit" class="button">default</button>
            <button type="submit" class="button button--secondary">secondary</button>
            <button type="submit" class="button button--primary">primary</button>

            <h2>buttons (lg)</h2>
            <button type="submit" class="button button--lg">default</button>
            <button type="submit" class="button button--secondary button--lg">secondary</button>
            <button type="submit" class="button button--primary button--lg">primary</button>

            <h2>buttons (sm)</h2>
            <button type="submit" class="button button--sm">default</button>
            <button type="submit" class="button button--secondary button--sm">secondary</button>
            <button type="submit" class="button button--primary button--sm">primary</button>

            <h2>links as buttons</h2>
            <a href="javascript:void(0);" class="button">default</a>
            <a href="javascript:void(0);" class="button button--secondary">secondary</a>
            <a href="javascript:void(0);" class="button button--primary">primary</a>

            <h2>bespoke buttons</h2>
            <button type="submit" class="button button--primary button--continue">continue</button>

            <h2>block buttons</h2>
            <button type="submit" class="button button--block">default</button>
            <button type="submit" class="button button--secondary button--block">secondary</button>
            <button type="submit" class="button button--primary button--block">primary</button>

            <h2>responsive block buttons (xs breakpoint)</h2>
            <button type="submit" class="button button--block-xs">default</button>
            <button type="submit" class="button button--secondary button--block-xs">secondary</button>
            <button type="submit" class="button button--primary button--block-xs">primary</button>

            <h2>responsive block buttons (sm breakpoint)</h2>
            <button type="submit" class="button button--block-sm">default</button>
            <button type="submit" class="button button--secondary button--block-sm">secondary</button>
            <button type="submit" class="button button--primary button--block-sm">primary</button>
        </div>
    </div>
</div>
