<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Forms</h1>

            <form id="example" role="form" method="post" action="javascript:void(0);">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="example@address.com">
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="first-name">first name</label>
                        <input type="text" class="form-control" id="first-name" name="first-name" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="last-name">last name</label>
                        <input type="text" class="form-control" id="last-name" name="last-name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabled">disabled</label>
                    <input type="text" class="form-control" id="email" name="email" disabled placeholder="disabled">
                </div>
                <div class="form-group">
                    <label class="label-info" data-label-info="(optional)" for="optional-field">what is your favourite type of pokemon?</label>
                    <input type="text" value="" class="form-control" id="optional-field" name="optional-field" placeholder="Snorlax obviously">
                    <p class="form-group__help-block">supporting help text</p>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">check yourself before you wreck yourself
                        </label>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>disabled
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="radio-block">radio default</label><br>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radio-block" value="One" checked="checked"> one
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radio-block" value="Two"> two
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="radio-block" value="Three" disabled> disabled
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="radio-inline">radio inline</label><br>
                    <label class="radio-inline">
                        <input type="radio" name="radio-inline" value="One" checked="checked"> one
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio-inline" value="Two"> two
                    </label>
                    <label class="radio-inline disabled">
                        <input type="radio" name="radio-inline" value="Three" disabled> Disabled
                    </label>
                </div>
                <button class="button button--secondary">back</button>
                <button type="submit" id="submit-button" class="button button--primary">continue</button>

                <h2>Validation states</h2>
                <div class="form-group form-group--has-validation">
                    <label for="password">Default</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group form-group--has-validation form-group--has-feedback form-group--has-success">
                    <label for="password">Success</label>
                    <input type="password" class="form-control" id="password" name="password" value="blah blah" required>
                    <i class="form-control-feedback icon-ok-circled"></i>
                </div>
                <div class="form-group form-group--has-validation form-group--has-feedback form-group--has-error">
                    <label for="password">Error</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <i class="form-control-feedback icon-danger"></i>
                    <small class="form-group__help-block">password is required and cannot be empty</small>
                </div>
            </form>
        </div>
    </div>
</div>
