<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Grid</h1>
            <h2>Bootstrap grid</h2>
            <p>The standard grid for layout is <a href="http://getbootstrap.com/css/#grid">boostrap</a> and is suitable for general page layout</p>

            <h2>Reflex grid</h2>
            <p>Also available is <a href="http://leejordan.github.io/reflex/docs/">flexbox grid</a> for advanced flexbox layout in sections that require it. The main use case for a flexbox grid is vertical centering and same height grid elements. To ensure a reflex grid lines up with the rest of the page, it can be contained in a bootstrap row as in the <a href="/panels#panel-grid">panel grid example</a>.</p>
        </div>
    </div>
</div>
