<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Icons</h1>

            <h2>Loading</h2>
            <div class="row">
                <div class="col-xs-12">
                    <i class="icon-loader"></i>
                </div>
            </div>

            <h2>Navigation</h2>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="icon-up-circled"></i> icon-up-circled</p>
                    <p><i class="icon-down-circled"></i> icon-down-circled</p>
                    <p><i class="icon-up-big"></i> icon-up-big</p>
                    <p><i class="icon-down-big"></i> icon-down-big</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-left"></i> icon-left</p>
                    <p><i class="icon-right"></i> icon-right</p>
                    <p><i class="icon-up-dir"></i> icon-up-dir</p>
                    <p><i class="icon-down-dir"></i> icon-down-dir</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-angle-up"></i> icon-angle-up</p>
                    <p><i class="icon-angle-down"></i> icon-angle-down</p>
                </div>
            </div>

            <h2>Interaction</h2>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="icon-search"></i> icon-search</p>
                    <p><i class="icon-user"></i> icon-user</p>
                    <p><i class="icon-zoom-in"></i> icon-zoom-in</p>
                    <p><i class="icon-minus"></i> icon-minus</p>
                    <p><i class="icon-plus"></i> icon-plus</p>
                    <p><i class="icon-logout"></i> icon-logout</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-pin"></i> icon-pin</p>
                    <p><i class="icon-flight"></i> icon-flight</p>
                    <p><i class="icon-print"></i> icon-print</p>
                    <p><i class="icon-mail"></i> icon-mail</p>
                    <p><i class="icon-history"></i> icon-history</p>
                    <p><i class="icon-repeat"></i> icon-repeat</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-gift"></i> icon-gift</p>
                    <p><i class="icon-shuffle"></i> icon-shuffle</p>
                    <p><i class="icon-settings"></i> icon-settings</p>
                    <p><i class="icon-edit"></i> icon-edit</p>
                </div>
            </div>

            <h2>Information</h2>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="icon-info-circled"></i> icon-info-circled</p>
                    <p><i class="icon-help-circled"></i> icon-help-circled</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-warning"></i> icon-warning</p>
                    <p><i class="icon-danger"></i> icon-danger</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-tag"></i> icon-tag</p>
                    <p><i class="icon-ok-circled"></i> icon-ok-circled</p>
                </div>
                <div class="col-xs-4">

                </div>
            </div>

            <h2>Social</h2>
            <div class="row">
                <div class="col-xs-4">
                    <p><i class="icon-facebook-squared"></i> icon-facebook-squared</p>
                    <p><i class="icon-twitter-squared"></i> icon-twitter-squared</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-tumblr-squared"></i> icon-tumblr-squared</p>
                    <p><i class="icon-instagram"></i> icon-instagram</p>
                </div>
                <div class="col-xs-4">
                    <p><i class="icon-linkedin-squared"></i> icon-linkedin-squared</p>
                    <p><i class="icon-code"></i> icon-code</p>
                </div>
            </div>
        </div>
    </div>
</div>
