<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Icons</h1>
            <p><i class="icon-info-circled"></i> <code>.icon-info-circled</code></p>
            <p><i class="icon-help-circled"></i> <code>.icon-help-circled</code></p>
            <p><i class="icon-attention"></i> <code>.icon-attention</code></p>
            <p><i class="icon-attention-circled"></i> <code>.icon-attention-circled</code></p>
            <p><i class="icon-ok-circled"></i> <code>.icon-ok-circled</code></p>
            <p><i class="icon-user"></i> <code>.icon-user</code></p>
            <p><i class="icon-logout"></i> <code>.icon-logout</code></p>
            <p><i class="icon-pin"></i> <code>.icon-pin</code></p>
            <p><i class="icon-flight"></i> <code>.icon-flight</code></p>
            <p><i class="icon-print"></i> <code>.icon-print</code></p>
            <p><i class="icon-mail"></i> <code>.icon-mail</code></p>
            <p><i class="icon-tag"></i> <code>.icon-tag</code></p>
            <p><i class="icon-plus-circled"></i> <code>.icon-plus-circled</code></p>
            <p><i class="icon-arrows-cw"></i> <code>.icon-arrows-cw</code></p>
            <p><i class="icon-gift"></i> <code>.icon-gift</code></p>
            <p><i class="icon-shuffle"></i> <code>.icon-shuffle</code></p>
            <p><i class="icon-cog"></i> <code>.icon-cog</code></p>
            <p><i class="icon-edit"></i> <code>.icon-edit</code></p>
            <p><i class="icon-history"></i> <code>.icon-history</code></p>
            <p><i class="icon-zoom-in"></i> <code>.icon-zoom-in</code></p>
        </div>
    </div>
</div>
