<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Navigation</h1>
            <h2>Sub nav</h2>
            <ul class="nav">
                <li>
                    <a class="nav__item nav__item--active" tabindex="-1" href="javascript:void(0);">
                        about us
                    </a>
                </li>
                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        our food
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        our packaging
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        press pack
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        join the team
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Side nav</h2>
        </div>
        <div class="col-sm-3">
            <ul class="nav nav--vertical">
                <li>
                    <a class="nav__item" tabindex="-1" href="javascript:void(0);">
                        about us
                    </a>
                </li>
                <li>
                    <a class="nav__item nav__item--active" href="javascript:void(0);">
                        our food
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        our packaging
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        press pack
                    </a>
                </li>

                <li>
                    <a class="nav__item" href="javascript:void(0);">
                        join the team
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
