<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-section__content">
                <h1>Page sections</h1>
                <p>...can be used to contain elements, text or anything else in a padded area on the page to give it some prominence</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--alternate">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel">
                    <img src="http://lorempixel.com/400/200/sports/" class="img-responsive panel__header-img">
                    <div class="panel__body">
                        <p>
                            Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 page-section__content">
                <h2>Alternative Page Section</h2>
                <p>Can break up the white in the page whilst offering more contrast for sub blocks</p>
                <hr>
                <p><a href="javascript:void(0);">Sign me up!</a></p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--lg text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-section__content">
                <h2>Large Page Sections </h2>
                <p>Let everyone know who you are and what you do!</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--brand page-section--lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-section__content">
                <h2>Branded Page sections</h2>
                <p>Really call out an area of the page.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--image text-center page-section--lg" style="background-image: url(https://unsplash.imgix.net/photo-1428908684367-2fe456a630bb?fit=crop&fm=jpg&h=700&q=75&w=1050);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-section__content">
                <h2>Image Page sections</h2>
                <p>Allow you to 'brand up' an area of the page and draw the user's attention</p>
                <button class="button button--primary"><i class="icon-print"></i> Print Image</button>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--brand page-section--image page-section--lg" style="background-image: url(https://ununsplash.imgix.net/photo-1428699190791-2c4f8b144d06?fit=crop&fm=jpg&h=1575&q=75&w=1050);">
    <div class="container">
        <div class="row">
            <div class="col-xxs-7 page-section__content">
                <h2>Dark Image Page sections</h2>
                <p>Do largely the same thing, but with more contrast to the rest of the page</p>
                <p><a href="javascript:void(0);">Find out more...</a></p>
            </div>
        </div>
    </div>
</section>
