<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Pagination</h1>

            <nav class="pagination">
                <p id="pagination-label" class="pagination__description">
                    showing 1 to 50 of 243 snacks
                </p>
                <ul role="navigation" aria-labelledby="pagination-label" class="pagination__list">
                    <li class="pagination__list__disabled">
                        <a href="javascript:void(0);" tabindex="-1" rel="prev" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="pagination__list__active">
                        <a tabindex="-1" href="javascript:void(0);">
                            <span class="sr-only">you're currently on page </span>1
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="sr-only">page </span>2
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="sr-only">page </span>3
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="sr-only">page </span>4
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="sr-only">page </span>5
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" rel="next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</div>
